.text {
    padding-left: 22px;
    color: $color-secondary-grey-l;
    font-weight: 450;
    width: 25%;
}

.header {
    display: flex;
    height: 60px;
    max-width: 100%;
    align-items: center;
    border-bottom: 1px solid $color-lines;
    .header__btn {
        padding-left: 32px;
    }
}

.navigation {
    height: 60px;
    width: 100%;
}
.menu {
    display: flex;
    color: $color-secondary-grey-l;
    list-style: none;
    &__item {
        display: flex;
        align-items: center;
        min-width: 150px;
        height: 60px;
        border-left: 1px solid $color-lines;
        &:nth-child(3) {
            border-right: 1px solid $color-lines;
        }
        &:last-child {
            margin-left: auto;
            min-width: 180px;
        }
    }
    a {
        width: 100%;
        text-decoration: none;
        color: $color-secondary-grey-l;
        text-align: center;
    }
}
