@import "../_fonts";
@import "../_normalize";
@import "../_variables";
@import "_header";
@import "_footer";

html {
    font-family: "FiraCode-Retina";
    font-weight: 400;
    font-size: 18px;
}

body {
    background-color: $color-primary-black;
}

main {
    max-width: 1780px;
    margin: 0 auto;
    background: $color-primary-grey;
    border: 1px solid rgb(30, 45, 61);
    border-radius: 8px;
}

section {
    height: 90vh;
}

.about__column {
    display: flex;
}

.column__icons {
    width: 5%;
    height: 90vh;
    border-right: solid 1px $color-lines;
}

.column__list {
    width: 15%;
    height: 90vh;
    border-right: solid 1px $color-lines;
}

.column__textarea {
    width: 40%;
    height: 90vh;
    border-right: solid 1px $color-lines;
}

.column__showcase {
    width: 40%;
    height: 90vh;
}
