@charset "UTF-8";
@font-face {
  font-family: "FiraCode-Light";
  src: local("FiraCodeLight"), local("FiraCode-Light"), url("/portfolio_ame/assets/fonts/FiraCode-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "FiraCode-Medium";
  src: local("FiraCodeMedium"), local("FiraCode-Medium"), url("/portfolio_ame/assets/fonts/FiraCode-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "FiraCode-Regular";
  src: local("FiraCode"), local("FiraCode-Regular"), url("/portfolio_ame/assets/fonts/FiraCode-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "FiraCode-Retina";
  src: local("FiraCodeRetina"), local("FiraCode-Retina"), url("/portfolio_ame/assets/fonts/FiraCode-Retina.woff2") format("woff2");
  font-weight: 450;
}
@font-face {
  font-family: "FiraCode-SemiBold";
  src: local("FiraCodeSemiBold"), local("FiraCode-SemiBold"), url("/portfolio_ame/assets/fonts/FiraCode-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "FiraCode-Bold";
  src: local("FiraCodeBold"), local("FiraCode-Bold"), url("/portfolio_ame/assets/fonts/FiraCode-Bold.woff2") format("woff2");
  font-weight: 700;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "FiraCode-Retina";
  font-weight: 400;
  font-size: 18px;
}

body {
  background-color: #01080e;
}

main {
  max-width: 1780px;
  margin: 0 auto;
  background: #011627;
  border: 1px solid rgb(30, 45, 61);
  border-radius: 8px;
}

section {
  height: 90vh;
}

.text {
  padding-left: 22px;
  color: #607b96;
  font-weight: 450;
  width: 438px;
}

.hero__title {
  font-weight: 450;
  font-size: 4rem;
  color: #e5e9f0;
}

.hero__subtitle {
  font-size: 1rem;
  color: #e5e9f0;
}

.hero__profession {
  font-weight: 500;
  color: #4d5bce;
  font-size: 2rem;
}
.hero__profession::before {
  content: ">";
  margin-right: 1rem;
}

.hero__text {
  margin-top: 15%;
  font-size: 1rem;
  color: #607b96;
}
.hero__text a {
  text-decoration: none;
}
.hero__text a::after, .hero__text a::before {
  content: "“";
  color: #ffffff;
}
.hero__text p {
  margin-bottom: 0;
}

.blue {
  color: #4d5bce;
}

.green {
  color: #43d9ad;
}

.orange {
  color: #fea55f;
}

.grey {
  color: #607b96;
}

.pink {
  color: #c98bdf;
}

.blur-green {
  position: absolute;
  width: 300px;
  height: 460px;
  top: 13%;
  left: 50%;
  transform: rotate(-94.3deg);
  filter: blur(174px);
  background: #43d9ad;
  opacity: 1.1;
  z-index: 1;
}

.blur-blue {
  position: absolute;
  width: 400px;
  height: 360px;
  top: 43%;
  left: 62%;
  transform: rotate(13.51deg);
  filter: blur(174px);
  background: #4d5bce;
  opacity: 1.2;
  z-index: 1;
}

.slider {
  display: flex;
  width: 50%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5%;
}
.slider__item {
  width: 90%;
  height: 30%;
  font-size: 0.8rem;
  background-color: #01080e;
  border: solid 1px #1e2d3d;
  border-radius: 15px;
  color: #607b96;
}
.slider__item pre {
  margin: 1em;
}
.slider__item:nth-child(even) {
  z-index: 10;
}

.header {
  display: flex;
  height: 60px;
  max-width: 100%;
  align-items: center;
  border-bottom: 1px solid #1e2d3d;
}
.header .header__btn {
  padding-left: 32px;
}

.hero__inner {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

.hero__body {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.navigation {
  height: 60px;
  width: 100%;
}

.menu {
  display: flex;
  color: #607b96;
  list-style: none;
}
.menu__item {
  display: flex;
  align-items: center;
  width: 10%;
  height: 60px;
  padding: 23px;
  border-left: 1px solid #1e2d3d;
}
.menu__item:nth-child(3) {
  border-right: 1px solid #1e2d3d;
}
.menu__item:last-child {
  margin-left: auto;
}
.menu a {
  text-decoration: none;
  color: #607b96;
}

footer {
  display: flex;
  height: 60px;
  max-width: 100%;
  align-items: center;
  border-top: 1px solid #1e2d3d;
}

.wrapper__footer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 52px;
  border-left: 1px solid #1e2d3d;
  border-right: 1px solid #1e2d3d;
}
.footer__icons:last-child {
  margin-left: auto;
  width: 169px;
}
.footer__icons:last-child::after {
  padding-left: 5px;
  width: 24px;
  height: 24px;
  content: url(/portfolio_ame/assets/icons/icon_github.svg);
}
.footer__icons a {
  text-decoration: none;
  color: #607b96;
}/*# sourceMappingURL=style.css.map */