$color-blue: color hsl(233, 57%, 55%);
$color-blue-strong: color hsl(233, 76%, 62%);
$color-blue-dove: color hsl(210, 22%, 48%);
$color-grey-light: color hsl(218, 27%, 92%);
$color-white: color hsl(0, 0%, 100%);
$color-pink-light: color hsl(7, 69%, 72%);
$color-aquamarine: color hsl(162, 66%, 56%);
$color-black: color hsl(207, 91%, 4%);
