//main color://
$color-primary-black: #01080e;
$color-primary-grey: #011627;
$color-primary-grey-xl: #011221;

//secondary color://
$color-secondary-grey-l: #607b96;
$color-secondary-green-jungle: #3c9d93;
$color-secondary-blue: #4d5bce;
$color-secondary-white: #ffffff;
$color-acient-orange-l: #fea55f;
$color-acient-aquamarine: #43d9ad;
$color-acient-pink: #c98bdf;

//border color://
$color-lines: #1e2d3d;

//gradient color://
$color-gradient-green: #43d9ad;
$color-gradient-blue: #4d5bce;
