@use "_fonts";
@import "_normalize";
@import "_variables";
@import "./blocs/_header";
@import "./blocs/_footer";

html {
    font-family: "FiraCode-Retina";
    font-weight: 400;
    font-size: 18px;
}

body {
    background-color: $color-primary-black;
}

main {
    max-width: 1780px;
    margin: 0 auto;
    background: $color-primary-grey;
    border: 1px solid rgb(30, 45, 61);
    border-radius: 8px;
}

section {
    height: 90vh;
}

.text {
    padding-left: 22px;
    color: $color-secondary-grey-l;
    font-weight: 450;
    width: 438px;
}

.hero__title {
    font-weight: 450;
    font-size: 4rem;
    color: #e5e9f0;
}

.hero__subtitle {
    font-size: 1rem;
    color: #e5e9f0;
}

.hero__profession {
    font-weight: 500;
    color: $color-secondary-blue;
    font-size: 2rem;
    &::before {
        content: ">";
        margin-right: 1rem;
    }
}

.hero__text {
    margin-top: 15%;

    font-size: 1rem;
    color: $color-secondary-grey-l;
    a {
        text-decoration: none;
        &::after,
        &::before {
            content: "“";
            color: $color-secondary-white;
        }
    }
    p {
        margin-bottom: 0;
    }
}

.blue {
    color: $color-gradient-blue;
}

.green {
    color: $color-gradient-green;
}

.orange {
    color: $color-acient-orange-l;
}

.grey {
    color: $color-secondary-grey-l;
}

.pink {
    color: $color-acient-pink;
}

.blur-green {
    position: absolute;
    width: 300px;
    height: 460px;
    top: 13%;
    left: 50%;
    transform: rotate(-94.3deg);
    filter: blur(174px);
    background: $color-gradient-green;
    opacity: 1.1;
    z-index: 1;
    animation: pulseGreen 10s infinite;
}

@keyframes pulseGreen {
    0% {
        background: hsl(162, 91%, 62%);
        transform: translateY(20px);
    }
    10% {
        background: hsl(162, 60%, 56%);
    }
    20% {
        background: hsl(162, 59%, 56%);
    }
    30% {
        background: hsl(162, 91%, 57%);
    }
    40% {
        background: hsl(162, 64%, 48%);
    }
    50% {
        background: hsl(162, 63%, 46%);
    }
    60% {
        background: hsl(162, 81%, 48%);
    }
    70% {
        background: hsl(162, 61%, 42%);
    }
    80% {
        background: hsl(162, 60%, 40%);
    }
    90% {
        background: hsl(162, 59%, 38%);
    }
    100% {
        background: hsl(162, 55%, 36%);
    }
}

.blur-blue {
    position: absolute;
    width: 400px;
    height: 360px;
    top: 43%;
    left: 62%;
    transform: rotate(94deg);
    filter: blur(174px);
    opacity: 1.2;
    z-index: 1;
    animation-delay: 2s;
    animation: pulseBlue 10s infinite;
}

@keyframes pulseBlue {
    0% {
        background: hsl(233, 57%, 50%);
        transform: translateZ(30px);
    }
    10% {
        background: hsl(233, 57%, 49%);
    }
    20% {
        background: hsl(233, 89%, 59%);
    }
    30% {
        background: hsl(233, 57%, 47%);
    }
    40% {
        background: hsl(233, 100%, 57%);
    }
    50% {
        background: hsl(233, 57%, 45%);
    }
    60% {
        background: hsl(233, 57%, 44%);
    }
    70% {
        background: hsl(233, 57%, 43%);
    }
    80% {
        background: hsl(233, 56%, 52%);
    }
    90% {
        background: hsl(233, 57%, 41%);
    }
    100% {
        background: hsl(233, 72%, 49%);
    }
}

.slider {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5%;
    &-button {
        padding: 5px;
        width: 100px;
        height: 10px;
        background-color: $color-secondary-grey-l;
    }
    &__item {
        width: 90%;
        height: 30%;
        font-size: 0.8rem;
        background-color: $color-primary-black;
        border: solid 1px $color-lines;
        border-radius: 15px;
        color: $color-secondary-grey-l;
        pre {
            margin: 1em;
        }
        &:nth-child(even) {
            z-index: 10;
        }
    }
    .hidden {
        display: none;
    }
}

.hero__inner {
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.hero__body {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
